<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892746446757-5o9alc47usdldrkts0r79bsu115c7d81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892746446757-5o9alc47usdldrkts0r79bsu115c7d81</string>
	<key>API_KEY</key>
	<string>AIzaSyDn07_wxzTqaKXn9BaB_OzyDIJZypQJJRg</string>
	<key>GCM_SENDER_ID</key>
	<string>892746446757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.skku.sco.hj213.myPhoto</string>
	<key>PROJECT_ID</key>
	<string>hj213-my-photo</string>
	<key>STORAGE_BUCKET</key>
	<string>hj213-my-photo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892746446757:ios:7ef3997907197a64c65a4c</string>
</dict>
</plist>